<script>
    const onClickPasswordField = () => {
        const input = document.getElementById("password")
        const type = input.getAttribute("type")
        input.setAttribute("type", {text: "password", password: "text"}[type])
        input.setAttribute("placeholder", {text: "********", password: "password"}[type])
    }

    document.addEventListener('DOMContentLoaded', () => {
        const form = document.forms[0]

        form.addEventListener("submit", (e) => {
            e.preventDefault()
            const formData = new FormData(form)
            const body = JSON.stringify(Object.fromEntries(formData))
            const url = {login: "auth/login", register: "users/register"}[form.name]

            fetch(
                `{{ request.base_url }}api/${url}`,
                {method: 'POST', body: body, headers: {'Content-Type': 'application/json'}}
             )
            .then(res => {
                if (res.ok) window.location.href = {register: "/login", login: "/bookings"}[form.name]
                else return res.json()
            })
            .then((err) => {
                if (typeof err.detail === 'string') {
                    document.getElementById("error-message").textContent = err.detail;
                }
                if (Array.isArray(err.detail)) {
                    document.getElementById("error-message").innerHTML = ""
                    err.detail.forEach((error) => {
                        if (error.loc && error.loc.length > 1) {
                            const fieldName = error.loc[1];
                            const errorMessage = `Неправильный формат поля: ${fieldName}<br/>`;
                            document.getElementById("error-message").innerHTML += errorMessage;
                        }
                    });
                }
            })
        })
    })
</script>