<label class="required text-base text-slate-700">
    Email
    <input class="border-b-2 border-yellow-400 text-xl text-slate-700 py-1" id="email" name="email" type="email" placeholder="myemail@mail.ru" required>
    <span class="text-lime-500 text-2xl"></span>
</label>

<div class="relative">
    <label class="required text-base text-slate-700">
        Пароль
        <input class="border-b-2 border-yellow-400 text-xl text-slate-700 py-1" id="password" name="password" type="password" placeholder="********" minlength="6" maxlength="25" required>
    <span class="text-lime-500 text-2xl"></span>
    </label>
    <button class="absolute bottom-0.5 right-1" type="button" onclick="onClickPasswordField()">
        <svg class="text-slate-700 p-2" width="36" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M0 8s3-6 8-6 8 6 8 6-3 6-8 6-8-6-8-6Zm1.81.13A13.6 13.6 0 0 1 1.73 8l.08-.13c.33-.51.8-1.19 1.42-1.86C4.5 4.63 6.12 3.5 8 3.5c1.88 0 3.5 1.14 4.77 2.51A13.7 13.7 0 0 1 14.27 8a14.02 14.02 0 0 1-1.5 1.99C11.5 11.37 9.88 12.5 8 12.5c-1.88 0-3.5-1.14-4.77-2.51a13.7 13.7 0 0 1-1.42-1.86ZM11 8a3 3 0 1 1-2.12-2.87 1.5 1.5 0 1 0 1.99 1.99A3 3 0 0 1 11 8Z"/>
        </svg>
    </button>
</div>