{% extends "base.html" %}

{% block head %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const forms = [...document.forms]
        const layout = document.getElementById("modal-layout")
        modalMessage = document.getElementById("modal-message")

        forms.forEach(item => {
            item.addEventListener("submit", (e) => {
                e.preventDefault()
                const body = JSON.stringify(Object.fromEntries(new FormData(e.target)))

                fetch(
                    '{{ request.base_url }}api/bookings',
                    {method: 'POST', body: body, headers: {'Content-Type': 'application/json'}}
                 )
                .then(res => {
                    if (res.ok) {
                        modalMessage.innerHTML = `
                            <p class="text-center text-xl px-16">Вы успешно забронировали номер</p>
                            <p class="text-center mt-3">На вашу почту направлено письмо с дополнительной информацией</p>
                            <button class="bg-yellow-400 text-lg px-16 py-1.5 rounded-sm mt-5 m-auto" type="button" id="madal-ok">
                                OK
                            </button>
                        `
                        layout.classList.remove("hidden")
                        layout.addEventListener("click", (e) => closeModal(e, true), {once: true})
                    }
                    else return res.json()
                })
                .then((err) => {
                    modalMessage.innerHTML = `
                        <p class="text-center text-xl px-16">Произошла ошибка</p>
                        <p class="text-center mt-3">${err.detail}</p>
                        <button class="bg-yellow-400 text-lg px-16 py-1.5 rounded-sm mt-5 m-auto" type="button" id="madal-ok">
                            OK
                        </button>
                    `
                    layout.classList.remove("hidden")
                })
            })
        })

        const closeModal = ({target}, reload=false) => {
            if (target.matches("#modal-layout") || target.matches("#modal-close") || target.matches("#madal-ok")) {
                layout.classList.add("hidden")
                reload && location.reload()
            }
        }

        layout.addEventListener("click", closeModal)

        document.querySelectorAll(".book-button").forEach(item => {
            item.addEventListener("click", () => {
            modalMessage.innerHTML = `
                <p class="text-center text-xl px-16">Вы не авторизованы</p>
                <p class="text-center">Пожалуйста авторизуйтесь чтобы забронировать номер</p>
                <a href="/login" class="bg-yellow-400 text-lg rounded-sm px-5 py-1.5">
                    Логин
                </a>
            `
                layout.classList.remove("hidden")
            })
        })
    })
</script>
{% endblock %}

{% block content %}
    <div>
        <h1 class="text-center mb-10 text-3xl">
            Выбор номера в&nbsp;
            <span class="font-bold">{{ hotel.name }}</span>
            <span class="block text-2xl font-light">
                {{ date_from }}
                &nbsp;<span class="inline-block text-slate-400 text-3xl">&#8250;</span>&nbsp;
                {{ date_to }}
            </span>
        </h1>

        {% if rooms %}
            <div class="flex flex-col gap-8">
                {% for room in rooms %}
                    <div class="flex shadow-md pr-4">
                        <img width="300" src="{{ url_for('static', path='images/' + room.image_id|string + '.webp') }}" alt="Номер">
                        <div class="grow flex items-center">
                            <div class="grow px-4 py-3 w-[25rem]">
                                <div class="pl-1 font-bold">{{ room.name }}</div>
                                <hr class="my-2">
                                {% if room.description %}
                                <div class="mb-2 pl-1">{{ room.description }}</div>
                                {% endif %}
                                <div class="pl-1 mb-2">{{ " · ".join(room.services) }}</div>
                                <span class="pl-1 mb-2">Осталось комнат:&nbsp;{{ room.rooms_left }} из {{ room.quantity }}</span>
                            </div>
                            <div class="flex justify-top flex-col items-center">
                                <span class="font-bold text-4xl">{{ format_price(room.total_cost) }}</span>
                                <span class="mb-1 text-xl">
                                    за
                                    {{ booking_length }}
                                    {{ decline_by_cases(booking_length, ["ночь", "ночи", "ночей"]) }}
                                </span>
                                <span class="mb-2">{{ room.price }} за ночь</span>
                                {% if is_authenticated %}
                                    <form>
                                        <input type="hidden" value="{{ date_from }}" name="date_from">
                                        <input type="hidden" value="{{ date_to }}" name="date_to">
                                        <input type="hidden" value="{{ room.id }}" name="room_id">
                                        <button class="text-lg bg-yellow-400 px-4 py-1.5 rounded-sm mb-3" type="submit">
                                            Забронировать
                                        </button>
                                    </form>
                                {% else %}
                                    <button class="book-button text-lg bg-yellow-400 px-4 py-1.5 rounded-sm mb-3" type="button">
                                        Забронировать
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block modal %}
    {% include '/include-modal.html' %}
{% endblock %}