*:focus {
    outline: none;
}

a,button {
    display: block;
}

a {
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

input {
    width: 100%;
    display: block;
}

input:valid + span::after {
  position: absolute;
  left: -20px;
  bottom: 2px;
  content: "✓";
}

label {
    position: relative;
}

.required::before {
    content: "✽";
    position: absolute;
    left: -12px;
    font-size: 9px;
    color: #991b1b88;
}

select {
    padding-right: 2em !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position-x: 102%;
    background-position-y: 55%;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23475569' width='32px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

select::-webkit-scrollbar {
    background: #e2e8f0;
    width: 12px;
}

select::-webkit-scrollbar-thumb {
    background-color: #475569;
    border-radius: 4px;
}

#search {
    width: 100%;
    padding-right: 45px;
}

.icon-map {
    transform: scaleX(1.5);
    display: inline-block;
    margin-left: -50px;
    margin-right: 30px;
}

.icon-location {
    display: inline-block;
    margin-top: -4px;
}

.login-container {
    max-width: 500px;
}

#error-message {
    margin-top: -8px;
}

.password-field {
    position: relative;
}

.password-field button {
    position: absolute;
    bottom: 2px;
    right: 4px;
}

.test {
    outline: 1px solid red;
    outline-offset: -5px;
}